.header {
  margin: 45px 200px 0 200px;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84,84,84, 0.7);
}


@media (max-width: 1250px) {

  .header {
    margin: 0;
    padding-bottom: 31px;
    
  }
}